Statystyki_2018/Connected Services/ServiceReference2/SerwisWymiany.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DaneWXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NrWydzialu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="repertorium" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nrSprawy" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="rodzaj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connection" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rok" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="kwerendaZapytujaca" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DaneWXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DaneWXmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DaneWXmlSoapIn">
    <wsdl:part name="parameters" element="tns:DaneWXml" />
  </wsdl:message>
  <wsdl:message name="DaneWXmlSoapOut">
    <wsdl:part name="parameters" element="tns:DaneWXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="SerwisWymianySoap">
    <wsdl:operation name="DaneWXml">
      <wsdl:input message="tns:DaneWXmlSoapIn" />
      <wsdl:output message="tns:DaneWXmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SerwisWymianySoap" type="tns:SerwisWymianySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DaneWXml">
      <soap:operation soapAction="http://tempuri.org/DaneWXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SerwisWymianySoap12" type="tns:SerwisWymianySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DaneWXml">
      <soap12:operation soapAction="http://tempuri.org/DaneWXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SerwisWymiany">
    <wsdl:port name="SerwisWymianySoap" binding="tns:SerwisWymianySoap">
      <soap:address location="http://localhost:49193/SerwisWymiany.asmx" />
    </wsdl:port>
    <wsdl:port name="SerwisWymianySoap12" binding="tns:SerwisWymianySoap12">
      <soap12:address location="http://localhost:49193/SerwisWymiany.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>